.portafolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 120px;
    grid-gap: 15px;
    background-repeat: no-repeat;
} 

.portafolio-carpetas__img {
    width: 100%;
    height: auto;
}



